@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:300i|Open+Sans|Raleway:400,400i');

body {
	background-image: url("../img/vader-blur.png");
}

h3 {
	font-family: 'Josefin Sans', sans-serif;
	font-weight: bold;
	text-align: center;
	color: #ededed;
}

.marketing {
	margin: 0 0 0 0;
}


body > div.container.jumbotron {
	width: auto;
	margin: 5.6% 0 0 0;
	background-color: rgba(53,53,53,0.4);
	border-radius: 10px;
}

.col-lg-3 {
	margin: 0 2.2% 0 2.2%;
	width: 20%;
}


#text {
	font-family: 'Open Sans', sans-serif;
	font-size: 1em;
	color: #dbdbdb;
	text-align: justify;
}

.img-circle {
	margin: 0 0 0 15%;
}

/*Navbar's CSS*/

.navbar {
	background-color: rgba(53,53,53,0.4);
	border-radius: 5px;
	border-color: rgba(53,53,53,0.4);
}

a.navbar-brand {
	font-family: 'Josefin Sans', sans-serif;
	font-size: 2.2em;
	font-weight: 300;
	font-style: italic;
	color: white !important;
	margin: 2% 0 0 7%;
}

.navbar-nav {
	padding-left: 64%;
}

.fa {
	color: #dbdbdb;
}

/*Footer's CSS*/

div.navbar.navbar-fixed-bottom {
	font-family: 'Open Sans', sans-serif;
	font-size: 0.8em;
	background-color: rgba(53,53,53,0.4);
	width: auto;
	border-radius: 10px;
	color: white;
	padding: 1% 0 1% 2%;
}
